body {
	font-family: 'Arvo', serif;
	border-style: solid;
	border-width: 25px;
	border-color: #ef9f7c;
	height: 1500px;
}

@media all and (min-width: 360px) {

}
p {
	display: inline-block;
	width: 55%;
}
.main-menu {
	list-style-type: none;
	overflow: auto;
}

.main-menu li{
	display: block;
	float: left;
	padding: 16px;
}


.description {
	clear: both;
}

.bacon-plate {
	max-width: 500px;
}

nav {
	border: 20px solid yellow;
	display: block;
	padding-right: 20px;
	text-decoration: none;
	line-height: 30px;
	list-style-position: outside;
}
